<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flag Tag</title>

    <!---CDN Links-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
       body { background: grey !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
    <script src="website.js"></script>
</head>

<body background-color="black">
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left: 100px;">
                <ul class="nav navbar-nav">
                    <li><a style="padding-right:50px" class="navbar-brand">Flag Tag</a></li>
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/game">Game</a></li>
                    <li><a href="/scoreboard">Score Board</a></li>
                </ul>
            </nav>
            <br/>

        </div>

        </div>
    </div>
</body>

</html>